&i2c0 {
	status = "okay";
	clock-frequency = <100000>;
	
	i2c-reset = <&gpio0 46 0>;
	i2c0sw74: i2cswitch@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		
		mb_i2c: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			
			signals: gpio@22 {
				compatible="ti,tca6424";
				vcc-supply = <&regulator_vccpint>;
				interrupts = <0 0>;
				reg=<0x22>;
			};
			mb: gpio@23 {
				compatible="ti,tca6424";
				vcc-supply = <&regulator_vccpint>;
				interrupts = <0 0>;
				reg=<0x23>;
			};												
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
			
			pwm: lp3943@60 {
				compatible = "ti,lp3943";
				reg = <0x60>;
				
				leds {
					compatible = "ti,lp3943-gpio";
					gpio-controller;
					#gpio-cells = <2>;
				};						
				pwm {
					compatible = "ti,lp3943-pwm";
					#pwm-cells = <2>;													
					ti,pwm0 = <0>; /* LED0=FAN */
					ti,pwm1 = <15>; /* ZFAN */
				};
			};
			/* d37 || new_fpleds */
			fpleds1: lp3943@61 {
				status = "okay";
				compatible = "ti,lp3943";
				reg = <0x61>;
				leds {
					compatible = "ti,lp3943-gpio";
					gpio-controller;
					#gpio-cells = <16>;
				};
				pwm {
					compatible = "ti,lp3943-pwm";
					#pwm-cells = <0>;													
				};				
			};
			/* !d37 && new_fpleds */
			fpleds2: lp3943@62 {
				status = "okay";
				compatible = "ti,lp3943";
				reg = <0x62>;
				leds {
					compatible = "ti,lp3943-gpio";
					gpio-controller;
					#gpio-cells = <16>;
				};
				pwm {
					compatible = "ti,lp3943-pwm";
					#pwm-cells = <0>;													
				};				
			};			
			psup: isl22313@50 {
				compatible = "isl,isl22313";
				reg = <0x50>;
			};
			psun: isl22313@51 {
				compatible = "isl,isl22313";
				reg = <0x51>; 
			};
			clockslicer: si5326@68 {
				compatible="si,si5326";
				reg=<0x68>;
			};
		};

		elf1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x1>;
	
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};
		elf2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x2>;
		
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};
		elf3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x3>;
		
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};
		elf4: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x4>;
		
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};	
		elf5: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x5>;
		
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};
		elf6: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x6>;
		
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};		
	};
	fans {
		pwms = <&pwm 0 5000000 1>;
		pwm_names = "fan";			
	};
};
