/*
 * Copyright (C) 2013-2019 D-TACQ Solutions Ltd - http://www.d-tacq.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "acq2106_common.dtsi"

/ {
	model = "D-TACQ ACQ2106 DAQ Appliance";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
		build="__DATE__";	
		descr="device tree for ACQ2106, SIX SITES supports MGT-DRAM";
		model="acq2106";
		compatible_model="acq2106";		
	};
};	


&i2c0 {
	/* MGT site. Valid MGT-DRAM. Use acq2106sfp.dts for MGT482 */
	i2c@7 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x7>;
		
		eeprom@50 {
			compatible = "at,24c64";
			reg = <0x50>;
		};
		hwmon@28 {
			compatible="ad,ad7417";
			reg=<0x28>;
		};
		flashprog: gpio@20 {
			compatible="ti,tca6408";
			reg=<0x20>;
		};						
	};
};

