// SPDX-License-Identifier: GPL-2.0+
/*
 *   Copyright (C) 2013-2019 D-TACQ Solutions Ltd - http://www.d-tacq.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "acq400_common.dtsi"
#include "acq2006_common.dtsi"
/ {
	model = "D-TACQ ACQ1001 DAQ Appliance";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
		build="__DATE__";	
		descr="device tree for acq2006bEU WORKTODO";
		notes="i2c mux back at correct address 0x74";
		model="acq1001";
		compatible_model="acq100?";		
	};

};



&i2c0 {
	status = "okay";
	
	i2c-reset = <&gpio0 46 0>;
	i2cswitch@74 {
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		
		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		
			mbclk: gpio@22 {
				compatible="ti,tca6424";
				vcc-supply = <&regulator_vccpint>;				
				interrupts = <0 0>;
				reg=<0x22>;
			};	
			leds: gpio@23 {
				compatible="ti,tca6424";
				vcc-supply = <&regulator_vccpint>;
				interrupt-parent = <&intc>;
				interrupts = <0 0>;
				reg=<0x23>;
			};			
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};

		elf1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x1>;
	
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};
			hwmon@28 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};
		};
	};
};



