/*
 * Copyright (C) 2013 D-TACQ Solutions Ltd - http://www.d-tacq.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "acq2106_common.dtsi"

/ {
	model = "D-TACQ ACQ2106 DAQ Appliance";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
		build="__DATE__";	
		descr="device tree for ACQ2106, SIX SITES, discarded eth1, adds MGT482 comms module, SPI";
		model="acq2106sfp";
		compatible_model="acq2106";		
	};
};	


&i2c0sw74 {
	/* hardcoded for MGT482 octal sfp controller */
	i2c@7 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x7>;
	
		sfp14: gpio@22 {
			compatible="ti,tca6424";
			reg=<0x22>;
		};
		sfp58: gpio@23 {
			compatible="ti,tca6424";
			reg=<0x23>;
		};
		eeprom@50 {
			compatible = "at,24c64";
			reg = <0x54>;
		};
		clk@5d {
			compatible = "silabs,si570";
			reg = <0x5d>;
		};
		i2cswitch@73 {
			compatible = "nxp,pca9548";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x73>;
				
			/* 7 sfp's, each with eeprom at 0xa0, control at 0xa2 */					
			sfp@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x0>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};							
			};
			sfp@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x1>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};													
			};
			sfp@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x2>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};																				
			};
			sfp@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x3>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};							
			};
			sfp@4 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x4>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};						
			};
			sfp@5 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x5>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};							
			};
			sfp@6 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x6>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};							
			};
			sfp@7 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x7>;
				eeprom@50 {
					compatible = "at,spd";								
					reg = <0x50>;
					read-only;
				};
				ddm@51 {
					compatible = "at,spd";
					reg = <0x51>;
					read-only;
				};							
			};						
		};
	};
};

