// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;	/* allow undefined label references and record them */

/ {
	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;			
			status = "okay";

			ad4858_3A: adc@30{		
/*                
                refin-supply = <&refin>;
                clocks = <&ref_clk>;
                clock-names = "scki";
                dmas = <&rx_dma 0>;
                dma-names = "rx";
                pwms = <&axi_pwm_gen 0 0>;
                pwm-names = "cnv";
*/
				reg = <0x30>;
				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_3B: adc@31{
				reg = <0x31>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_3C: adc@32{
				reg = <0x32>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_3D: adc@33{
				reg = <0x33>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};			
			ad4858_3X: adc@3f{
				reg = <0x3F>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
		};
	};
};