// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;	/* allow undefined label references and record them */

/ {
	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;			
			status = "okay";

			ad4858_6A: adc@60{		
/*                
                refin-supply = <&refin>;
                clocks = <&ref_clk>;
                clock-names = "scki";
                dmas = <&rx_dma 0>;
                dma-names = "rx";
                pwms = <&axi_pwm_gen 0 0>;
                pwm-names = "cnv";
*/
				reg = <0x60>;
				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_6B: adc@61{
				reg = <0x61>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_6C: adc@62{
				reg = <0x62>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_6D: adc@63{
				reg = <0x63>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};			
			ad4858_6X: adc@6f{
				reg = <0x6F>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
				status = "disabled";
			};
		};
	};
};
