// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;	/* allow undefined label references and record them */

/ {
	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;			
			status = "okay";

			ad4858_2A: adc@20{		
/*                
                refin-supply = <&refin>;
                clocks = <&ref_clk>;
                clock-names = "scki";
                dmas = <&rx_dma 0>;
                dma-names = "rx";
                pwms = <&axi_pwm_gen 0 0>;
                pwm-names = "cnv";
*/
				reg = <0x20>;
				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_2B: adc@21{
				reg = <0x21>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_2C: adc@22{
				reg = <0x22>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_2D: adc@23{
				reg = <0x23>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};			
			ad4858_2X: adc@2f{
				reg = <0x2F>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
		};
	};
};