// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;	/* allow undefined label references and record them */

/ {
	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;			
			status = "okay";

			ad4858_5A: adc@50{		
/*                
                refin-supply = <&refin>;
                clocks = <&ref_clk>;
                clock-names = "scki";
                dmas = <&rx_dma 0>;
                dma-names = "rx";
                pwms = <&axi_pwm_gen 0 0>;
                pwm-names = "cnv";
*/
				reg = <0x50>;
				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_5B: adc@51{
				reg = <0x51>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_5C: adc@52{
				reg = <0x52>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
			ad4858_5D: adc@53{
				reg = <0x53>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};			
			ad4858_5X: adc@5f{
				reg = <0x5F>;

				spi-max-frequency = <10000000>;
				compatible = "adi,ad4858";
			};
		};
	};
};