/dts-v1/;
/include/ "zynq-7000.dtsi"

/ {
	model = "D_TACQ CPSC2";
	compatible = "avnet,picozed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		i2c0 = &i2c0;
		i2c10 = &i2c10;
		i2c11 = &i2c11;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
		reset-gpios = <&gpio0 7 1>; /* MIO 7, GPIO_ACTIVE_LOW */
	};
	
	
	/* Backplane i2c monitors WORKTODO.  */
	/* the gpio numbers will CERTAINLY need to update, maybe other items check i2c-gpio.txt */
		
	i2c10: i2c-gpioA {
		status = "okay";
		compatible = "i2c-gpio";		
		gpios = <&gpio0 55 0   /* SDA Bank2 EMIO 1 */
			 &gpio0 54 0>; /* SCL Bank2 EMIO 0 */
		i2c-gpio,delay-us = <2>;        /* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;

		ps_status1: gpio@20 {
			compatible="nxp,pcf8574";
			reg=<0x20>;
		};
		ps_status2: gpio@21 {
			compatible="nxp,pcf8574";
			reg=<0x21>;
		};
		ps_status3: gpio@22 {
			compatible="nxp,pcf8574";
			reg=<0x22>;
		};
		ps_status4: gpio@23 {
			compatible="nxp,pcf8574";
			reg=<0x23>;
		};
	};
	i2c11: i2c-gpioB {
		status = "okay";
		compatible = "i2c-gpio";
		gpios = <&gpio0 57 0   /* SDA Bank2 EMIO 3 */
			 &gpio0 56 0>; /* SCL Bank2 EMIO 2 */
		i2c-gpio,delay-us = <2>;        /* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;

		ps_status5: gpio@20 {
			compatible="nxp,pcf8574";
			reg=<0x20>;
		};
		ps_status6: gpio@21 {
			compatible="nxp,pcf8574";
			reg=<0x21>;
		};
		ps_status7: gpio@22 {
			compatible="nxp,pcf8574";
			reg=<0x22>;
		};
		ps_status8: gpio@23 {
			compatible="nxp,pcf8574";
			reg=<0x23>;
		};
	};	
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		device_type = "ethernet-phy";
		reg = <0>;
	};
};

&sdhci1 {
	status = "okay";
	/* SD1 is onnected to a non-removable eMMC flash device */
	non-removable;
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&i2c0 {
	status = "okay";
	
	i2c-reset = <&gpio0 46 0>;
	i2cswitch@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		
		i2c_mb: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		
			ps_resets: gpio@20 {
				compatible="nxp,pca9534";
				reg=<0x20>;				
			};
			ps_fault: gpio@21 {
				compatible="nxp,pca9534";
				reg=<0x21>;				
			};			
			hwmon@2c {
				compatible="ad,ad7417";
				reg=<0x2c>;
			};
		};
		i2c_site1: i2c@1  {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x1>;

			hwmon@48 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};			
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};

		};
		i2c_site2: i2c@2  {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x2>;

			hwmon@48 {
				compatible="ad,ad7417";
				reg=<0x28>;
			};			
			eeprom@50 {
				compatible = "at,24c64";
				reg = <0x50>;
			};

		};
		i2c_clkgen: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x3>;

			clkgen0: gpio@22 {
				compatible="ti,tca6424";
				vcc-supply = <&regulator_vccpint>;
				interrupt-parent = <&intc>;
				interrupts = <0 0>;
				reg=<0x22>;
			};
			clkgen1: gpio@23 {
				compatible="ti,tca6424";
				vcc-supply = <&regulator_vccpint>;
				interrupt-parent = <&intc>;
				interrupts = <0 0>;
				reg=<0x23>;
			};
			ics_clk: clk@6c {
				compatible="idt,idt8t49n241";
				reg=<0x6c>;
			};
		};
		i2c_sfp1: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x4>;

			eeprom@50 {
				compatible = "at,spd";								
				reg = <0x50>;
				read-only;
			};
			ddm@51 {
				compatible = "at,spd";
				reg = <0x51>;
				read-only;													
			};			
		};
		i2c_sfp2: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x5>;

			eeprom@50 {
				compatible = "at,spd";								
				reg = <0x50>;
				read-only;
			};
			ddm@51 {
				compatible = "at,spd";
				reg = <0x51>;
				read-only;													
			};
		};
		i2c_sfp3: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x6>;

			eeprom@50 {
				compatible = "at,spd";								
				reg = <0x50>;
				read-only;
			};
			ddm@51 {
				compatible = "at,spd";
				reg = <0x51>;
				read-only;													
			};
		};
	};
};



&qspi {
	status = "okay";
	primary_flash: ps7-qspi@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,m25p80", "spansion,s25fl128s", "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		/* Example 16M partition table using U-Boot + U-Boot SPL */
		partition@0x0 {
			label = "boot";
			reg = <0x0 0xe0000>;
		};
		partition@0xe0000 {
			label = "ubootenv";
			reg = <0xe0000 0x20000>;
		};
		partition@0x100000 {
			label = "uboot";
			reg = <0x100000 0x100000>;
		};
		partition@0x200000 {
			label = "kernel";
			reg = <0x200000 0x4f0000>;
		};
		partition@0x6f0000 {
			label = "devicetree";
			reg = <0x6f0000 0x10000>;
		};
		partition@0x700000 {
			label = "rootfs";
			reg = <0x700000 0x400000>;
		};
		partition@0xb00000 {
			label = "spare";
			reg = <0xb00000 0x500000>;
		};
	};
};


