&i2c0sw74 {
	mgt: i2c@7 {
	
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x7>;
	
		eeprom@50 {
			compatible = "at,24c64";
			reg = <0x50>;
			};
			hwmon@28 {
			compatible="ad,ad7417";
			reg=<0x28>;
		};
		flashprog: gpio@20 {
			compatible="ti,tca6408";
			reg=<0x20>;
			vcc-supply = <&regulator_vccpint>;
			interrupts = <0 0>;
		};
	};
};
